@keyframes slidein {
    from {
      transform: translate(-50%, -50%) scale(0);
      transform-origin: 50% 50%;
    }
  
    to {
      transform: translate(-50%, -50%) scale(1);
      transform-origin: 50% 50%;
    }
  }